
<table class="table table-sm table-striped">
  <%= paginate @tweets %>
  <div><%= "TOTAL:  #{Tweet.total_number_of_tweet}" %></div>
  <thead>
    <tr>
      <th>ID</th>
      <th>CONTENT</th>
      <th>EDIT</th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
    <tr>
      <th class="id_lists"><%= tweet.id %></th>
      <td class="contents_list"><%= tweet.content %></td>
      <td><%= link_to 'edit', edit_tweet_path(tweet) %></td>
      <td><%= link_to 'destroy', tweet, method: :delete, data: {confirm: "本当に削除しますか?"} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @tweets %>
